*{
    margin:0;
    padding: 0;
}

#titre{
    background-color: #49894B;
}

.titre_accueil{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
}

.img_logo{
    width: auto;
    -webkit-filter: drop-shadow(1px 1px 1px #000000 );
    filter: drop-shadow(1px 1px 1px #000000);
}

#logo
{
    background-color: #921853;
}

#résumé{
    background-color: #C79129;

}

#location{
    background-color: #084F7A;
}

#maps{
    background-color: #82B137;
}

.titre-formation{
    text-align: center;
    color: grey;
    padding-top: 10px;
    padding-bottom: 20px;
}

